{% extends "base.html" %}

{% block title %}Login{% endblock %}

{% block content %}
<h1>Login</h1>
{% if form.errors %}
<p>Your username and password didn't match. Please try again.</p>  <!-- Alterar mensagens de erro -->
{% else %}
<p>Please, use the following form to login.</p>
{% endif %}
<div class="login-form">
    <form action="{% url 'login' %}" method="post">
        {{ form.as_p }}
        {% csrf_token %}
        <input name="next" type="hidden" value="{{ next }}">
        <p><input type="submit" value="Log in"></p>
    </form>
</div>
{% endblock %}