{% extends "base.html" %}

{% block title %}Redefina sua senha{% endblock %}

{% block content %}
<div class="row regular-row">
    <div class="col-md-12">
        <div class="p-md-5 p-1">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/account/">Entrar</a></li>
                    <li aria-current="page" class="breadcrumb-item active">Redefina sua senha</li>
                </ol>
            </nav>
            <h2>Redefina sua senha</h2>
            <p>Digite seu endereço de e-mail para obter uma nova senha.</p>
            <form action="" method="post">
                {% csrf_token %}
                {% include 'includes/bs4_default_form.html' with form=form %}
                <button class="btn btn-rounded btn-gradient" style="--c-1: #d298f5; --c-2: #81cff6" type="submit">
                    Enviar e-mail
                </button>
            </form>
        </div>
    </div>
</div>
{% endblock %}