{% extends "base.html" %}

{% block title %}Altere sua senha{% endblock %}

{% block content %}
<div class="row regular-row">
    <div class="col-md-12">
        <div class="p-md-5 p-1">
            <h2>Altere sua senha</h2>
            <p>Use o formulário abaixo para alterar sua senha.</p>
            <form action="" method="post">
                {% csrf_token %}
                {% include 'includes/bs4_default_form.html' with form=form %}
                <button class="btn btn-rounded btn-gradient" style="--c-1: #d298f5; --c-2: #81cff6" type="submit">
                    Registrar
                </button>
            </form>
        </div>
    </div>
</div>
{% endblock %}