{% load widget_tweaks %}

{% for hidden_field in form.hidden_fields %}
{{ hidden_field }}
{% endfor %}

{% if form.non_field_errors %}
<div class="alert alert-danger" role="alert">
    {% for error in form.non_field_errors %}
    {{ error }}
    {% endfor %}
</div>
{% endif %}

{% for field in form.visible_fields %}

{% if field.name == "first_name" or field.name == "email" %}
<div class="form-row">
    <div class="col">
        <div class="form-group">

            {{ field.label_tag }}

            {% if form.is_bound %}
            {% if field.errors %}
            {% render_field field class="form-control is-invalid" %}
            {% for error in field.errors %}
            <div class="invalid-feedback">
                {{ error }}
            </div>
            {% endfor %}
            {% else %}
            {% render_field field class="form-control is-valid" %}
            {% endif %}
            {% else %}
            {% render_field field class="form-control" %}
            {% endif %}

            {% if field.help_text %}
            <small class="form-text text-muted">{{ field.help_text }}</small>
            {% endif %}
        </div>
    </div>
</div>
{% endif %}
{% endfor %}

<!--
{% load widget_tweaks %}

{% for hidden_field in form.hidden_fields %}
{{ hidden_field }}
{% endfor %}

{% if form.non_field_errors %}
<div class="alert alert-danger" role="alert">
    {% for error in form.non_field_errors %}
    {{ error }}
    {% endfor %}
</div>
{% endif %}

<div class="form-row">
    <div class="col">
        <div class="form-group">
            {{ form.first_name.label_tag }}
            {% render_field form.first_name class="form-control" %}
        </div>
        <div class="form-group">
            {{ form.email.label_tag }}
            {% render_field form.email class="form-control" %}
        </div>
    </div>
    <div class="col">
        <div class="form-group">
            {{ form.last_name.label_tag }}
            {% render_field form.last_name class="form-control" %}
        </div>
        <div class="form-group">
            {{ form.institution_name.label_tag }}
            {% render_field form.institution_name class="form-control" %}
        </div>
    </div>
</div>
<div class="form-group">
    {{ form.request_message.label_tag }}
    {% render_field form.request_message class="form-control" %}
    <small class="form-text text-muted">{{ form.request_message.help_text }}</small>
</div>
<div class="form-row">
    <div class="col">
        <div class="form-group">
            {{ form.password.label_tag }}
            {% render_field form.password class="form-control" %}
        </div>
    </div>
    <div class="col">
        <div class="form-group">
            {{ form.password2.label_tag }}
            {% render_field form.password2 class="form-control" %}
        </div>
    </div>
</div>
-->
