{% extends "base.html" %}

{% block title %}Login{% endblock %}

{% block content %}
<div class="row login-row">
    <div class="col-md-6 order-md-0 order-1" style="padding-right: 0;padding-left: 0;">
        <div class="p-md-5 p-3">
            <h2>Identificação</h2>
            <form action="/account/login/" method="post">
                {% csrf_token %}
                {% include 'includes/bs4_form.html' with form=form %}
                <button class="btn btn-light" style="width: 100%" type="submit">Entrar</button>
            </form>
        </div>
    </div>
    <div class="col-md-6 order-md-1 order-0" style="padding-right: 0;padding-left: 0;">
        <div style="height: 100%;width: 100%;background: linear-gradient(-45deg, #A9DEF9, #E4C1F9 100%);">

        </div>
    </div>
</div>
{% endblock %}