{% extends "base.html" %}

{% block title %}Entrar{% endblock %}

{% block content %}

<div class="row regular-row">
    <div class="col-md-6 order-md-0 order-1" style="padding-right: 0;padding-left: 0;">
        <div class="p-md-5 p-3">
            <h2>Identificação</h2>
            <form action="" method="post">
                {% csrf_token %}
                {% include 'includes/bs4_default_form.html' with form=form %}
                <div class="row f-14" style="padding-bottom: 1rem;">
                    <div class="col">
                        <input id="toggle_visibility" onclick="toggleVisibility()" type="checkbox"/> Exibir senha
                    </div>
                    <div class="col">
                        <a href="/account/password_reset">Esqueceu sua senha?</a>
                    </div>
                </div>
                <button class="btn btn-rounded btn-gradient" style="--c-1: #d298f5; --c-2: #81cff6" type="submit">
                    Entrar
                </button>
            </form>
            <div class="text-center bold-link" style="font-size: 0.7rem; padding-top: 0.7rem;">
                Ao continuar, você confirma que leu nossos <a href="#">Termos de Serviço</a> e nossa <a href="#">Política
                de Privacidade</a>.
            </div>
        </div>
    </div>
    <div class="col-md-6 order-md-1 order-0" style="padding-right: 0;padding-left: 0;">
        <div class="d-xl-flex align-items-xl-center"
             style="height: 100%;width: 100%;background: linear-gradient(-45deg, #d298f5, #81cff6 100%); color: white;">
            <div class="col text-center p-md-5 p-3">
                <div class="row y-pd" style="--r: 0.5rem;">
                    <div class="col">
                        <h5>Bem-vindo. Para entrar, preencha o formulário com seus dados cadastrais.</h5>
                    </div>
                </div>
                <div class="row y-pd" style="--r: 0.5rem;">
                    <div class="col">
                        <h6>Não possui uma conta?</h6>
                    </div>
                </div>
                <div class="row y-pd" style="--r: 0.5rem;">
                    <div class="col">
                        <a class="btn btn-rounded btn-transparent" href="/account/register/">Registre-se</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    function toggleVisibility() {
        const x = document.getElementById("id_password");
        if (x.type === "password") {
            x.type = "text";
        } else {
            x.type = "password";
        }
    }
</script>
{% endblock %}