{% extends "base.html" %}

{% block title %}Registrar{% endblock %}

{% block content %}
<div class="row regular-row">
    <div class="col-md-12">
        <div class="p-md-5 p-1">
            <h2>Registre-se</h2>
            <form action="" method="post">
                {% csrf_token %}
                {% include 'includes/bs4_register_form.html' with form=user_form %}
                <button class="btn btn-rounded btn-gradient" style="--c-1: #d298f5; --c-2: #81cff6" type="submit">
                    Registrar
                </button>
            </form>
            <div class="text-center bold-link" style="font-size: 0.7rem; padding-top: 0.7rem;">
                Ao continuar, você confirma que leu nossos <a href="#">Termos de Serviço</a> e nossa <a href="#">Política
                de Privacidade</a>.
            </div>
            <div class="text-center y-pd" style="--r: 1rem;">
                Já tem uma conta? <a href="/account/login/">Entre.</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}