{% extends "base.html" %}

{% block title %}Bem-vindo{% endblock %}

{% block content %}
<div class="row no-border-row">
    <div class="col-md-12">
        <div class="p-md-5 p-1">
            <h2>Bem-vindo {{ new_user.first_name }}!</h2>
            <p>
                Sua conta foi registrada com sucesso. Porém, você precisa aguardar a autorização de um administrador.
                Atente-se a caixa de entrada do e-mail cadastrado.
            </p>
            <small>Obs.: verifique sua caixa de spam.</small>
        </div>
    </div>
</div>
{% endblock %}