{% extends "base.html" %}

{% block title %}Alterações salvas{% endblock %}

{% block content %}
<div class="row no-border-row">
    <div class="col-md-12">
        <div class="p-md-5 p-1">
            <h2>Alterações salvas</h2>
            {% if token %}
            <p>
                Novo Token: <code>{{ token }}</code>.
            </p>
            <p>
                Para copiar seu novo link de acesso, <a href="#" onclick="copyLink('updated')">clique aqui</a>.
            </p>
            {% endif %}
            <p>
                {% if not token %}Suas alterações foram salvas.{% endif %}
                Para acessar seus simuladores, <a href="/account/">clique aqui</a>.
            </p>
        </div>
    </div>
</div>
{% endblock %}