{% extends "base.html" %}

{% block title %}Excluir simulador{% endblock %}

{% block content %}
<div class="row regular-row">
    <div class="col-md-12">
        <div class="p-md-5 p-1">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/account/">Dashboard</a></li>
                    <li class="breadcrumb-item">
                        <a href="/simulator/published/{{ simulator.token }}">
                            {{ object.title }}
                        </a>
                    </li>
                    <li aria-current="page" class="breadcrumb-item active">Excluir simulador</li>
                </ol>
            </nav>
            <h2>Excluir simulador</h2>
            <form method="post">
                {% csrf_token %}
                Tem certeza de que deseja excluir <strong>{{object}}</strong>?
                <button class="btn btn-rounded btn-gradient" style="--c-1: #81cff6; --c-2: #abebc4; margin-top: 1rem;"
                        type="submit">
                    Excluir
                </button>
            </form>
        </div>
    </div>
</div>
{% endblock %}