{% extends "base.html" %}

{% block title %}Editar {{ object }}{% endblock %}

{% block content %}
<div class="row regular-row">
    <div class="col-md-12">
        <div class="p-md-5 p-1">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/account/">Dashboard</a></li>
                    <li class="breadcrumb-item">
                        <a href="/simulator/published/{{ simulator.token }}">
                            {{ object.title }}
                        </a>
                    </li>
                    <li aria-current="page" class="breadcrumb-item active">Editar simulador</li>
                </ol>
            </nav>
            <h2>Editar {{ object }}</h2>
            <p>Use o formulário abaixo para editar e ver detalhes de seu simulador.</p>
            <form action="" method="post">
                {% csrf_token %}
                {% include 'includes/bs4_update_simulator_form.html' with form=form %}
                <button class="btn btn-rounded btn-gradient" style="--c-1: #81cff6; --c-2: #abebc4;" type="submit">
                    Salvar
                </button>
            </form>
        </div>
    </div>
</div>

<!-- tagify -->
<script src="https://unpkg.com/@yaireo/tagify"></script>
<script src="https://unpkg.com/@yaireo/tagify/dist/tagify.polyfills.min.js"></script>

<script>
    let tag_list = '{{ tags }}';
    tag_list = tag_list.split(',');

    console.log(tag_list)

    new Tagify(
        document.getElementById("id_tags"),
        {
            delimiters: ",| ",
            suggestionsMinChars: 2,
            max_tags: 5,
            whitelist: tag_list,
            originalInputValueFormat: valuesArr => valuesArr.map(item => item.value).join(',')
        }
    )
</script>
{% endblock %}